################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/.vs/slnx.sqlite
/.vs/Website_Repo.slnx/v18/.wsuo
/.vs/Website_Repo.slnx/v18/DocumentLayout.backup.json
/.vs/Website_Repo.slnx/v18/DocumentLayout.json
/.vs/VSWorkspaceState.json
